In [1]:
import os
import pandtelco_prepas as pd

In [2]:
#Import all the things to work

In [3]:
from aqcuire import telco_data

In [15]:
telco = telco_data()

In [5]:
#Disaster, I can not use the aquired data due to 'null' being foreign, I tried to create a value for null, 
#but it was Ignored

In [16]:
telco_prep= telco.drop(columns=['senior_citizen',
                             'partner',
                             'dependents',
                             'internet_service_type_id',
                             'online_security',
                             'device_protection',
                             'tech_support',
                             'paperless_billing',
                             'payment_type_id'])

In [9]:
#Dropping what doesn't seem necessary

In [17]:
telco_prep.head()

,customer_id,gender,tenure,phone_service,multiple_lines,online_backup,streaming_tv,streaming_movies,contract_type_id,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,9,Yes,No,Yes,Yes,No,2,65.6,593.3,No
1,0003-MKNFE,Male,9,Yes,Yes,No,No,Yes,1,59.9,542.4,No
2,0004-TLHLJ,Male,4,Yes,No,No,No,No,1,73.9,280.85,Yes
3,0011-IGKFF,Male,13,Yes,No,Yes,Yes,Yes,1,98.0,1237.85,Yes
4,0013-EXCHZ,Female,3,Yes,No,No,Yes,No,1,83.9,267.4,Yes

In [11]:
#And it's time for the main project